:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
}

/* Отключение точек в списках */
.list {
  list-style: none;
}

/* отключение подчеркивания в ссылках */
.link {
  text-decoration: none;
}

/* Logo */
nav .logo {
  color: #000000;
}

footer .logo {
  color: var(--primary-bg-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo > span {
  color: var(--accent-color);
}

/* Навигация */

.site-nav {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.nav-contacts .link {
  color: var(--secondary-text-color);
}

.link:hover,
.link:focus,
.link.current {
  color: var(--accent-color);
}

/* hero */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--accent-color);
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.section-title,
.list-title {
  color: var(--title-text-color);

  font-weight: 700;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
}

.list-title {
  font-size: 14px;
  text-transform: uppercase;
}

.features-text {
  line-height: 1.71;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.team-position {
  font-size: 16px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

/* Прячем заголовок секции особенности */
.section-features .section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

footer {
  background-color: #2f303a;
}

address {
  font-style: normal;
  line-height: 1.71;
}

.address {
  color: #ffffff;
}

address .link {
  color: rgba(255, 255, 255, 0.6);
}
